{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb",
  ],
  "plugins": [
    "react",
    "react-hooks",
    "import"
  ],
  "rules": {
    "require-jsdoc": 0,
    "react/display-name": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
  },
  "env": {
    "node": true,
    "browser": true,
  }
}